.friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.friend {
    margin: 1em;
    border: 1px solid #c95022;
    width: 200px;
    position: relative;
}

.friend > p {
    margin: 2em 1em;
}

.search-bar {
    text-align: right;
    margin: 1em 1em -3em 1em;
}

.card-header {
    display: flex;
    justify-content: space-between;
    background-color: #c95022;
    padding: 1em;
    width: 100%;
    color: white;
}

.friend-name {
    margin: auto 0;
}