.navbar__container {
    background-color: rgba(255, 255, 255, .5)
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 75px;
    padding: 0;
    margin: 0 auto 0 auto;
    max-width: 1100px;
    font-size: 16px;
}

.navbar a {
    color: #2c6e5f;
}

.navbar a:hover {
    color: 	#4cae97;
}

.logo-nav {
    padding: 0;
}

.navbar__item {
    list-style-type: none;
    padding: 28px 0px;
}

.navbar-logo {
    height: 75px; 
}

/* .navbar__item:hover{
    opacity: .5;
} */

.logout {
    background-color: white;
    padding: 28px 5px;
}

.logout a {
    color: #2c6e5f;
}

.logout:hover {
    background-color: white;
}

.logout a:hover {
    color: rgba(220, 99, 52, .8);
}